# Write a Python script to sort (ascending and descending) a dictionary by value.

In [8]:
d = {'A': 50, 'B': 60, 'C': 5}


asc = dict(sorted(d.items(), key = lambda x: x[1]))
dsc = dict(sorted(d.items(), key = lambda x: x[1], reverse = True))
print(asc)
print(dsc)

{'C': 5, 'A': 50, 'B': 60}
{'B': 60, 'A': 50, 'C': 5}

In [1]:
d = {'A': 50, 'B': 60, 'C': 5}

pos = d.index('A')
print(pos)

AttributeError: 'dict' object has no attribute 'index'

# Write a Python script to add a key to a dictionary.

In [ ]:
d = {'A': 10, 'B': 20}

d.update({'C': 30})

print(d)

# Write a Python script to concatenate the following dictionaries to create a new one.

In [7]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

dict4 = {**dict1, **dict2, **dict3}

print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
squares = {1:1, 3:9, 5:25 , 7:49, 9:81}

a = int(input('Enter a key to check:'))

if a in squares:
    print('Key is present')
    
else:
    print('Key is not present')

# Write a Python program to iterate over dictionaries using for loops.

In [16]:
d = {'Name': 'Aman', 'Age': 29, 'Add': 'ABC'}

for key, value in d.items():
  print(key, '--', value)

Name -- Aman
Age -- 29
Add -- ABC

# Write a Python code snippet that finds and prints the name of the student with the highest score.

In [10]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}
highest_score = 0
highest_name = None
for key, value in scores.items():
    if value > highest_score:
        highest_score = value
        highest_name = key
        
print({highest_name:highest_score})

{'David': 95}

# Write a Python code snippet to find and print the name of the oldest person.

In [2]:
d = {"Alice": 25, "Bob": 32, "Charlie": 19, "David": 45, "Eve": 28}

name = None
age = 0

for key, value in d.items():
    if value > age:
        name = key
        age = value
        
print(name)

David

# Write a Python code snippet to find and print the titles of all the books written by a specific author.

In [15]:
books = [
    {'title': 'Book1', 'author': 'Author1'},
    {'title': 'Book2', 'author': 'Author2'},
    {'title': 'Book3', 'author': 'Author1'},
    {'title': 'Book4', 'author': 'Author3'}
]

author = input("Enter author name: ")
l = []

for i in books:
    if i['author'] == author:
        l.append(i['title'])

print("The books written by", author, "are", ' '.join(l))

Enter author name: Author1
The books written by Author1 are Book1 Book3

# Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [5]:
n = int(input("Enter a number: "))
d = {}

for i in range(1, n + 1):
#     print(i)
    d[i] = i * i
    
print(d)

Enter a number: 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

# Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [21]:
d = {}
for i in range(1, 16):
    d[i] = i ** 2
    
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# Write a Python script to merge two Python dictionaries.

In [22]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

print("---1st Method---")
d3 = {** d1, **d2}
print(d3)

print("---2nd Method---")
d = d1.copy()
d.update(d2)
print(d)

print("---3rd Method---")
d1.update(d2)
print(d1)

---1st Method---
{'a': 100, 'b': 200, 'x': 300, 'y': 200}
---2nd Method---
{'a': 100, 'b': 200, 'x': 300, 'y': 200}
---3rd Method---
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

# Write a Python program to sum all the items in a dictionary.

In [23]:
d = {'data1':100,'data2':-54,'data3':247}
sum = 0

for key, value in d.items():
    sum = sum + value
print(sum)

293

# Write a Python program to multiply all the items in a dictionary.

In [27]:
d = {'data1':100,'data2':-54,'data3':247}
p = 1

for i in d:
#     print(d[i])
    p = p * d[i]
    
print(p)

-1333800

# Write a Python program to remove a key from a dictionary.

In [29]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Origin Dictionary: ", d)

if 'a' in d:
    del d['a']
    
print("After Removing Key: ", d)

Origin Dictionary:  {'a': 1, 'b': 2, 'c': 3, 'd': 4}
After Removing Key:  {'b': 2, 'c': 3, 'd': 4}

# Write a Python program to map two lists into a dictionary.

In [30]:
key = ['A', 'B', 'C']
value = [90, 20, 50]

comb = dict(zip(key, value))
print(comb)

{'A': 90, 'B': 20, 'C': 50}

# Write a Python program to sort a given dictionary by key.

In [6]:
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}


for key in sorted(color_dict):
    print("%s : %s" % (key,color_dict[key]))

black : #000000
green : #008000
red : #FF0000
white : #FFFFFF

# Write a Python program to get the maximum and minimum values of a dictionary.

In [16]:
d = {'x':500, 'y':5874, 'z': 560, 'a':500}

l = []

for key, value in d.items():
    l.append(value)

mx = l[0]
mn = l[0]

for key, value in d.items():
    if value > mx:
        mx = value
        
    elif value < mn:
        mn = value
        
print("Maximum Value:", mx)
print("Minimum Value:",mn)

Maximum Value: 5874
Minimum Value: 500

# Write a Python program to remove duplicates from the dictionary.

In [18]:
d = {'x':500, 'y':5874, 'z': 560, 'a':500}
res = {}
unique = []

for key, value in d.items():
    if value not in unique:
        unique.append(value)
        res[key] = value

        
print(res)

{'x': 500, 'y': 5874, 'z': 560}

# Write a Python program to check if a dictionary is empty or not.

In [21]:
d = {'a':1, 'b':2}

if not d:
    print("Dictionary is empty")
    
else:
    print("Dictionary is not empty")

Dictionary is not empty

# Write a Python program to combine two dictionary by adding values for common keys.

In [26]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

d3 = Counter(d1) + Counter(d2)

print(d3)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

# Convert two lists into a dictionary

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

d = dict(zip(keys,values))

print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [7]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

d = {}

for i in range(len(keys)):
    d.update({keys[i]:values[i]})
    
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Merge two Python dictionaries into one

In [8]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

d = {** dict1, **dict2}
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [9]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

d = dict1.copy()
d.update(dict2)

print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Print the value of key ‘history’ from the below dict

In [22]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['history'])

80

# Initialize dictionary with default values

In [28]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d = {}
for i in employees:
    d[i] = defaults
    
print(d)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

# Create a dictionary by extracting the keys from a given dictionary

In [40]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ["name", "salary"]

d = {}

for k in keys:
    d.update({k:sample_dict[k]})
    
print(d)

{'name': 'Kelly', 'salary': 8000}

In [41]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for i in keys:
    sample_dict.pop(i)
    
print(sample_dict)

{'age': 25, 'city': 'New york'}

# Check if a value exists in a dictionary

In [5]:
d = {'a': 100, 'b': 200, 'c': 300}
l = []

for key, value in d.items():
    l.append(value)

print(l)

if 200 in l:
    print("200 is present")

[100, 200, 300]
200 is present

In [9]:
d = {'a': 100, 'b': 200, 'c': 300}
 
# for value in d.values():
#     print(value)
if 200 in d.values():
    print("200 is present")

else:
    print("200 is not present")

200 is present

# Rename key of a dictionary

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}