# Python program to interchange first and last elements in a list

In [4]:
l = [1, 2, 3, 4, 5, 6]

if len(l) > 2:
    temp = l[0]
    l[0] = l[-1]
    l[-1] = temp
    
    
print(l)

[6, 2, 3, 4, 5, 1]

In [6]:
l = [1, 2, 3, 4, 5, 6]

first = l.pop(0)
last = l.pop(-1)

l.insert(0, last)
l.append(first)

print(l)

[6, 2, 3, 4, 5, 1]

In [7]:
l = [1, 2, 3, 4, 5, 6]

if len(l) > 2:
    l = l[-1:] + l[1:-1] +l[:1]
    
    
print(l)

[6, 2, 3, 4, 5, 1]

# Python program to swap two elements in a list

In [17]:
l = [1, 2, 3, 4]

if len(l) > 2:
    temp = l[0]
    l[0] = l[2]
    l[2] = temp
    
    
print(l)

[3, 2, 1, 4]

In [26]:
def swap(lst, pos1, pos2):
    temp = lst[pos1]
    lst[pos1] = lst[pos2]
    lst[pos2] = temp
    
    return lst
    
l = [1, 2, 3, 4, 5, 6]
pos1 = int(input("Enter position1 to swap:"))
pos2 = int(input("Enter position2 to swap:"))

res = swap(l, pos1-1, pos2-1)
print(res)

Enter position1 to swap:1
Enter position2 to swap:5
[5, 2, 3, 4, 1, 6]

In [28]:
def swap(list, pos1, pos2):
    list[pos1], list[pos2] = list[pos2], list[pos1]
    
    return list
    
l = [1, 2, 3, 4, 5, 6]
pos1 = int(input("Enter position1 to swap:"))
pos2 = int(input("Enter position2 to swap:"))

res = swap(l, pos1-1, pos2-1)
print(res)

Enter position1 to swap:1
Enter position2 to swap:2
[2, 1, 3, 4, 5, 6]

# Python | Reversing a List

In [3]:
l = [1, 2, 3, 4, 5]

l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [6]:
l = [1, 2, 3, 4, 5]
rev = []

for i in range(len(l)-1, -1, -1):
    rev.append(l[i])
    
print(rev)

[5, 4, 3, 2, 1]

# Python program to find sum of elements in list

In [7]:
l = [10, 20, 30, 40, 50]
sum = 0

for i in l:
    sum = sum + i
    
print(sum)

150

# Python | Multiply all numbers in the list

In [10]:
l = [2, 4, 6, 8]
mul = 1

for i in l:
    mul = mul * i
    
print(mul)

384

# Python program to find smallest number in a list

In [12]:
l = [10, 12, 3, 94, 35]

min = l[0]

for i in l:
    if i < min:
        min = i
        
print(min)

3

# Python program to find largest number in a list

In [1]:
l = [10, 12, 3, 94, 35]
mx = l[0]

for i in l:
    if i > mx:
        mx = i
        
print(mx)

94

In [5]:
l = [10, 12, 3, 94, 35]

l.sort()

print(l[-1])

94

In [6]:
l = [10, 12, 3, 94, 35]

print(max(l))

94

In [8]:
from functools import reduce

l = [10, 12, 3, 94, 35]
mx = reduce(max, l)
print(mx)

94

# Python program to find second largest number in a list

In [9]:
l = [10, 12, 3, 94, 35]
mx = l[0]
mx1 = l[1]


for i in l:
    if i > mx:
        mx1 = mx
        mx = i
        
    elif i > mx1 and mx1 != mx:
        mx1 = i
        
        
print(mx1)

35