## Python program to print the following simple number pattern using a for loop

In [8]:
row = 6

for i in range(row):
    for j in range(row):
        print(i, end = ' ')
    print(' ')

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [24]:
row = 6

for i in range(row):
    for j in range(i):
        print(i, end = ' ')
    print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [44]:
row = 6
for i in range(1, row + 1):
    for j in range(1, i + 1):
        print(j, end = ' ')
        
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [1]:
row = 6

for i in range(row):
  for j in range(i):
    print(j, end = ' ')
  print(' ')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [49]:
a=5
for i in range(1,a+1):
    print(i*str(i))

1
22
333
4444
55555

In [5]:
a=5
for i in range(0,a+1):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [3]:
n = 5

for i in range(n):
    for j in range(n - i):
        print('*', end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*