In [11]:
n = 6

for row in range(n):
    for col in range(row):
        print(row, end = ' ')
        
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
n = 5

for row in range(n):
    for col in range(n-row):
        print('*', end = ' ')
        
    print("")

* * * * *
* * * *
* * *
* *
*

In [25]:
n = 6

for row in range(1, n):
    for col in range(1, row + 1):
        print(col, end = ' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
n = 6
for row in range(1, n):
    for col in range(1, n):
        if col <= n-row:
            print(" ", end = ' ')
            
        else:
            print("*", end = ' ')
        
    print('')

        *
      * *
    * * *
  * * * *

In [3]:
n = 6

for row in range(n):
    for col in range(row):
        print("*", end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *

In [8]:
n = 6

for row in range(n):
    for col in range(n):
        print("*", end=' ')
    print("")

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [11]:
n = 6

for row in range(1, n):
    for col in range(1, row + 1):
        print(col, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n = 6

for row in range(1, n):
    for col in range(1, row + 1):
        print(row, end = ' ')
        
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
n = 5
count = 0
for row in range(n):
    for col in range(row):
        count += 1
        print(count, end=' ')
    print("")

1
2 3
4 5 6
7 8 9 10