In [2]:
tup = tuple((1, 2, 3, ['ABC', 5]))
print(tup)

(1, 2, 3, ['ABC', 5])

In [6]:
tup = tuple((1, 2, 3, ['ABC', 5]))
print(tup[2])
print(tup[3])
print(tup[3][0])

3
['ABC', 5]
ABC

In [8]:
tup = tuple((1, 2, 3, ['ABC', 5]))
pos = tup.index(2)
print(pos)

1

In [9]:
tup = tuple((1, 2, 3, ['ABC', 5]))
tup[3][0] = 250
print(tup)

(1, 2, 3, [250, 5])

In [11]:
tup = (1, 2, 3)
tup[2] = 250
print(tup)

TypeError: 'tuple' object does not support item assignment

In [12]:
tup = (1, 2, 3)
print(sum(tup))

6

# Write a Python program to create a tuple.

In [1]:
#Create an empty tuple 
x = ()
print(x)
#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

()
()

# Write a Python program to convert a given list of tuples to a list of lists.

In [5]:
t = [(1, 2), (2, 3), (3, 4)]
l = []
for i in t:
    a = list(i)
    l.append(a)
print(l)

[[1, 2], [2, 3], [3, 4]]

# Write a Python code snippet that finds and prints the names of the students who are of legal voting age (18 years or older).

In [18]:
students = [('Alice', 20), ('Bob', 17), ('Charlie', 22), ('David', 16), ('Eve', 19)]

voting_age_students = []

for student in students:
    name, age = student
    if age >= 18:
        voting_age_students.append(name)

if len(voting_age_students) > 0:
    print("The students of legal voting age are", ', '.join(voting_age_students))
else:
    print("No students of legal voting age found.")

The students of legal voting age are Alice, Charlie, Eve

In [17]:
students = [('Alice', 20), ('Bob', 17), ('Charlie', 22), ('David', 16), ('Eve', 19)]
tup = dict(students)
students_above_18 = {}

for key, value in tup.items():
    if value > 18:
        students_above_18[key] = value

if students_above_18:
    print(students_above_18)
else:
    print("No student above 18 found.")

{'Alice': 20, 'Charlie': 22, 'Eve': 19}

In [5]:
tup = [('sub1', 88), ('sub2', 92), ('sub3', 79), ('sub4', 90)]
lst = len(tup)
for i in range(0, lst):
    for j in range(0, lst-i-1):
        if (tup[j][1] > tup[j + 1][1]):
            temp = tup[j]
            tup[j] = tup[j + 1]
            tup[j + 1] = temp
print(tup)

[('sub3', 79), ('sub1', 88), ('sub4', 90), ('sub2', 92)]